$primary: '1.5em';
$secondary: '3em';

$c-primary: #4281FF;
$w-primary: #ffffff;

$text-primary: #333E54;
$text-secondary: #4E6B86;
$text-third: #ecf5ff;


$vertical-center: (
    display: grid,
    align-content: center
    )
